<div id="create-rt">
    <form action="#/post/poll" enctype="UTF-8" method="post">
        <fieldset>
            <legend style="display: none">Create a new poll</legend>
            <label for="inp-author"><em>*</em>Author</label>
            <input type="text" id="inp-author" name="author" value="<%= author %>" class="required" />

            <br/>

            <label for="inp-topic"><em>*</em>Topic</label>
            <input type="text" id="inp-topic" name="topic" value="<%= topic %>" class="required" />

            <br/>

            <label for="inp-body"><em>*</em>Body</label>
            <textarea id="inp-body" name="body" cols="10" rows="3" class="required resizable"><%= body %></textarea>

            <fieldset>
                <legend><em>*</em>Answers</legend>

                <label for="inp-answer">New answer</label>
                <textarea id="inp-answer" name="answer" cols="10" rows="2" class="resizable"></textarea>

                <input id="inp-add-answer" type="button" value="Add" title="Add this answer" />

                <input id="inp-del-answer" type="button" value="Delete" title="Delete selected answer" />

                <ul id="create-rt-answers" cellspacing="1">
                   <% for(var i = 0; i < answers.length ; i++) {%>
                        <li>
                            <div><input type="checkbox" name="answers" value="<%= answers[i].body %>"></div>
                            <span>
                                <%= answers[i].body %>
                            </span>
                        </li>
                    <% } %>
                </ul>
            </fieldset>
            <input id="inp-post-poll" type="submit" value="Create poll" />
        </fieldset>
    </form>
</div>

