<div id="roundtable">
    <h1>Poll</h1>
    <h2><%= body %></h2>
    <div class="legend">
        <table cellspacing="1">
            <tbody>
                <tr>
                    <td style="height: 36px;"></td>
                </tr>
                <% if (typeof votes != "undefined") {%>
                    <% for(var i = 0 ; i < votes.length ; i++) {%>
                    <tr>
                        <td class="voter" id="voter-<%= i %>">
                            <span class="name"><%= votes[i].voter %></span>
                        </td>
                    </tr>
                    <% } %>
                <% } %>
                <tr><td style="background-color: transparent; border: 0px none; height: 0.25em;"></td></tr>
                <tr>
                    <td class="voter" id="you">
                        <input type="text" name="you" value="" />
                    </td>
                </tr>
                <tr class="result"><td>Result</td></tr>
            </tbody>
        </table>
    </div>
    <div class="main">
        <table cellspacing="1" class="poll">
            <tbody>
                <tr class="choices">
                    <% for(var i = 0; i < answers.length ; i++) {%>
                        <th><%= answers[i].body %></th>
                    <% } %>
                    <th style="background-color: transparent; border: 0px none;width:50px;"></th>
                </tr>
                <% if (typeof votes != "undefined") {%>
                    <% for(var i = 0 ; i < votes.length ; i++) {%>
                        <% var voter = votes[i].voter %>
                        <tr class="votes">
                            <% for(var j = 0; j < answers.length ; j++) {%>
                            <% var vote = votes[i].votes[j] %>
                            <td class="<%= vote %>" title="<%= voter %>, <%= answers[j].body %>: <%= vote %>"></td>
                            <% } %>
                            <td style="background-color: transparent; border: 0px none;"></td>
                        </tr>
                    <% } %>
                <% } %>
                <tr>
                    <% for(var i = 0; i <= answers.length ; i++) {%>
                        <td style="background-color: transparent; border: 0px none; height: 0.25em;"></td>
                    <% } %>
                </tr>
                <tr id="vote">
                    <% for(var i = 0; i < answers.length ; i++) {%>
                        <td class="no" title="<%= answers[i].body %>" id="vote-<%= i %>"></td>
                    <% } %>
                    <td>
                        <input id="vote-button" type="button" value="Vote" title="Submit your vote" />
                    </td>
                </tr>
                <tr class="result">
                    <% for(var i = 0; i < answers.length ; i++) {%>
                        <% var vote_sum = 0 %>
                        <% if (typeof votes != "undefined") {%>
                            <% for(var j = 0 ; j < votes.length ; j++) {%>
                                <% vote_sum += (votes[j].votes[i] == "yes") ? 1 : 0 %>
                            <% } %>
                        <% } %>
                        <td class="<%= (vote_sum > 0) ? 'bold' : '' %>" ><%= vote_sum %></td>
                    <% } %>
                    <td style="background-color: transparent; border: 0px none;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

